In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Import Dataset**

In [3]:
tr= r"C:\Users\fahru\Documents\SQL\Export Gcoffee\trx25.csv"
item= r"C:\Users\fahru\Documents\SQL\Export Gcoffee\item25.csv"
menu= r"C:\Users\fahru\Documents\SQL\database\Gcoffee\menu_items.csv"

trx_25= pd.read_csv(tr)
menus= pd.read_csv(menu)
item_25= pd.read_csv(item)

trx_25.head()

,transaction_id,store_id,payment_method_id,voucher_id,user_id,original_amount,discount_applied,final_amount,created_at
0,00001472-e5a0-453f-9575-ecdfa6fe0e6c,9,2,NaN,1929523.0,32.0,0.0,32.0,2025-05-17 10:17:23
1,00002670-7a56-485e-9240-0f9ec868b5c8,4,4,NaN,267622.0,38.0,0.0,38.0,2025-04-01 15:21:07
2,000028a4-1a9f-4e00-862d-4c69496a8015,5,3,NaN,1850723.0,19.0,0.0,19.0,2025-05-03 15:51:29
3,00002a2b-e75d-4ce1-b0ad-b4c9dd962898,3,4,NaN,1366156.0,16.0,0.0,16.0,2025-05-21 14:24:00
4,00003152-137d-4793-9430-2dc433eb22ad,8,2,NaN,1587555.0,63.0,0.0,63.0,2025-05-16 13:15:20

In [4]:
item_25.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3640546 entries, 0 to 3640545
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   transaction_id  object
 1   item_id         int64
 2   quantity        int64
 3   unit_price      float64
 4   subtotal        float64
 5   created_at      object
dtypes: float64(2), int64(2), object(2)
memory usage: 166.7+ MB

In [5]:
item_25.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,7ed3077f-2b58-44d0-8532-bbe247af63fe,8,1,10.0,10.0,2025-04-01 09:59:32
1,7ed3077f-2b58-44d0-8532-bbe247af63fe,5,3,9.0,27.0,2025-04-01 09:59:32
2,7ed3077f-2b58-44d0-8532-bbe247af63fe,4,1,8.0,8.0,2025-04-01 09:59:32
3,1f106ec5-25aa-4c85-97d7-2b90dfc30b3a,7,2,9.0,18.0,2025-04-01 09:59:34
4,d4f9df8d-03db-4dea-9370-00d37d3660f2,1,1,6.0,6.0,2025-04-01 09:59:35

In [6]:
menus= pd.read_csv(menu)
menus.head()

,item_id,item_name,category,price,is_seasonal,available_from,available_to
0,1,Espresso,coffee,6.0,False,NaN,NaN
1,2,Americano,coffee,7.0,False,NaN,NaN
2,3,Latte,coffee,8.0,False,NaN,NaN
3,4,Cappuccino,coffee,8.0,False,NaN,NaN
4,5,Flat White,coffee,9.0,False,NaN,NaN

In [7]:
trx6= trx_25[trx_25['store_id']==6].reset_index()
trx6.head()

,index,transaction_id,store_id,payment_method_id,voucher_id,user_id,original_amount,discount_applied,final_amount,created_at
0,16,000092da-9845-49bc-8ff6-fa2657b95261,6,1,NaN,1158077.0,18.0,0.0,18.0,2025-06-26 09:20:02
1,25,0000c107-2d7d-4a83-a856-e68c14280df0,6,3,NaN,2180411.0,21.5,0.0,21.5,2025-06-28 11:32:45
2,37,00010fc2-3dbc-4aff-9c8d-d735ee2bb93f,6,3,NaN,1995324.0,65.0,0.0,65.0,2025-05-28 11:04:27
3,43,0001bb6b-12db-4da8-a66d-9cb43e280342,6,4,NaN,1885869.0,48.0,0.0,48.0,2025-05-09 14:35:29
4,50,0001f12d-84bd-4279-8284-ac157369377c,6,1,NaN,1890292.0,12.0,0.0,12.0,2025-05-10 12:49:46

In [8]:
trx_detail= trx6[['transaction_id']].merge(item_25[['transaction_id','item_id','quantity','unit_price','subtotal']],
                       on='transaction_id', how='left')
trx_detail= trx_detail.merge(menus[['item_id','item_name','category','price']], on='item_id', how='left')
trx_detail.head()

,transaction_id,item_id,quantity,unit_price,subtotal,item_name,category,price
0,000092da-9845-49bc-8ff6-fa2657b95261,5,2,9.0,18.0,Flat White,coffee,9.0
1,0000c107-2d7d-4a83-a856-e68c14280df0,6,1,9.5,9.5,Mocha,coffee,9.5
2,0000c107-2d7d-4a83-a856-e68c14280df0,1,2,6.0,12.0,Espresso,coffee,6.0
3,00010fc2-3dbc-4aff-9c8d-d735ee2bb93f,5,3,9.0,27.0,Flat White,coffee,9.0
4,00010fc2-3dbc-4aff-9c8d-d735ee2bb93f,4,1,8.0,8.0,Cappuccino,coffee,8.0

## **EDA**

In [9]:
trx_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361528 entries, 0 to 361527
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   transaction_id  361528 non-null  object
 1   item_id         361528 non-null  int64
 2   quantity        361528 non-null  int64
 3   unit_price      361528 non-null  float64
 4   subtotal        361528 non-null  float64
 5   item_name       361528 non-null  object
 6   category        361528 non-null  object
 7   price           361528 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 22.1+ MB

In [10]:
menus

,item_id,item_name,category,price,is_seasonal,available_from,available_to
0,1,Espresso,coffee,6.0,False,NaN,NaN
1,2,Americano,coffee,7.0,False,NaN,NaN
2,3,Latte,coffee,8.0,False,NaN,NaN
3,4,Cappuccino,coffee,8.0,False,NaN,NaN
4,5,Flat White,coffee,9.0,False,NaN,NaN
5,6,Mocha,coffee,9.5,False,NaN,NaN
6,7,Hot Chocolate,non-coffee,9.0,False,NaN,NaN
7,8,Matcha Latte,non-coffee,10.0,False,NaN,NaN

There are eight different menus that divided to two categories which are coffee and non-coffee product. The highest  product price is 'Matcha latte' and the lowest is 'Espresso'.

In [11]:
most= trx_detail.groupby('item_name').\
        agg(total_quantity=('quantity','sum'), total_revenue=('subtotal','sum')).reset_index()
most.sort_values('total_quantity', ascending=False)

       item_name  total_quantity  total_revenue
6   Matcha Latte           91009       910090.0
5          Latte           90827       726616.0
4  Hot Chocolate           90571       815139.0
1     Cappuccino           90514       724112.0
2       Espresso           90448       542688.0
7          Mocha           90103       855978.5
0      Americano           89873       629111.0
3     Flat White           89381       804429.0

In [12]:
# most.to_csv('best_seller_store6.csv', index=False)

The best seller prodcut in store6 is 'Matcha Latte' and the worst is 'Flat Latte'. Mathca Latte is the most valueable product also.

In [13]:
bas= trx_detail.groupby('transaction_id')['item_id'].count().reset_index()
av= bas['item_id'].mean()
av

np.float64(1.9959807429000487)

## **Data Preparation**

In [14]:
# Create Dataframe 
basket= pd.pivot_table(data=trx_detail, index='transaction_id', columns='item_name',
                       values='item_id', aggfunc=pd.Series.nunique, fill_value=0)
basket

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
000092da-9845-49bc-8ff6-fa2657b95261,0,0,0,1,0,0,0,0
0000c107-2d7d-4a83-a856-e68c14280df0,0,0,1,0,0,0,0,1
00010fc2-3dbc-4aff-9c8d-d735ee2bb93f,0,1,0,1,0,0,1,0
0001bb6b-12db-4da8-a66d-9cb43e280342,0,0,1,0,0,0,1,0
0001f12d-84bd-4279-8284-ac157369377c,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...
ffff1a9c-a5f7-4d96-897f-8f8473d24d6d,0,0,0,1,0,0,0,0
ffff5647-fe39-4426-8687-196fb458e68c,0,0,1,0,0,1,0,0
ffff632b-e96e-4c8a-8e61-820fd5af9c2c,1,0,0,0,0,0,0,0
ffff7567-7dc1-4fa9-8a72-6024cf19efd8,0,0,0,0,0,1,0,0
ffff971e-ca8a-4863-85fd-b0deab016ccd,0,1,0,0,1,1,0,0

In [15]:
# Check what menus ordered based on trnsacation_id
ro= basket.loc['ffff971e-ca8a-4863-85fd-b0deab016ccd']
nonzero= ro[ro>0].index.tolist()

basket.loc[['ffff971e-ca8a-4863-85fd-b0deab016ccd'],nonzero]

item_name                             Cappuccino  Hot Chocolate  Latte
transaction_id
ffff971e-ca8a-4863-85fd-b0deab016ccd           1              1      1

In [16]:
# Check item detail ordered based on transaction ID
trx_detail[trx_detail['transaction_id']=='ffff971e-ca8a-4863-85fd-b0deab016ccd']

,transaction_id,item_id,quantity,unit_price,subtotal,item_name,category,price
361525,ffff971e-ca8a-4863-85fd-b0deab016ccd,4,1,8.0,8.0,Cappuccino,coffee,8.0
361526,ffff971e-ca8a-4863-85fd-b0deab016ccd,7,3,9.0,27.0,Hot Chocolate,non-coffee,9.0
361527,ffff971e-ca8a-4863-85fd-b0deab016ccd,3,2,8.0,16.0,Latte,coffee,8.0

In [17]:
# Encode Dataset
def encode(x):
    if x==0:
        return False
    if x>0:
        return True
basket= basket.map(encode)
basket

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
000092da-9845-49bc-8ff6-fa2657b95261,False,False,False,True,False,False,False,False
0000c107-2d7d-4a83-a856-e68c14280df0,False,False,True,False,False,False,False,True
00010fc2-3dbc-4aff-9c8d-d735ee2bb93f,False,True,False,True,False,False,True,False
0001bb6b-12db-4da8-a66d-9cb43e280342,False,False,True,False,False,False,True,False
0001f12d-84bd-4279-8284-ac157369377c,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...
ffff1a9c-a5f7-4d96-897f-8f8473d24d6d,False,False,False,True,False,False,False,False
ffff5647-fe39-4426-8687-196fb458e68c,False,False,True,False,False,True,False,False
ffff632b-e96e-4c8a-8e61-820fd5af9c2c,True,False,False,False,False,False,False,False
ffff7567-7dc1-4fa9-8a72-6024cf19efd8,False,False,False,False,False,True,False,False
ffff971e-ca8a-4863-85fd-b0deab016ccd,False,True,False,False,True,True,False,False

In [18]:
# Take transaction that have two items or more
basket_filter= basket[(basket>0).sum(axis=1)>1]
basket_filter

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
0000c107-2d7d-4a83-a856-e68c14280df0,False,False,True,False,False,False,False,True
00010fc2-3dbc-4aff-9c8d-d735ee2bb93f,False,True,False,True,False,False,True,False
0001bb6b-12db-4da8-a66d-9cb43e280342,False,False,True,False,False,False,True,False
000200e7-e08f-4e3d-a50b-20cafb90e209,True,False,False,False,False,True,False,False
0002b217-3d63-4fad-9e39-c0b07e015918,True,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...
fffe675a-a67d-40ad-aa76-db195f20094f,False,True,True,False,False,False,False,True
fffee8b8-af42-4db0-a694-b9f231059722,True,False,False,False,True,False,False,True
fffef34b-f275-4c18-933e-9d1dd8639dae,True,False,True,True,False,False,False,False
ffff5647-fe39-4426-8687-196fb458e68c,False,False,True,False,False,True,False,False
ffff971e-ca8a-4863-85fd-b0deab016ccd,False,True,False,False,True,True,False,False

In [19]:
# Check

basket_filter.loc[['0002b217-3d63-4fad-9e39-c0b07e015918']]

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
0002b217-3d63-4fad-9e39-c0b07e015918,True,False,False,False,False,True,False,True

## **Analysis**

In [20]:
# USe apriori algorithm for analysis
from mlxtend.frequent_patterns import apriori

freq_item= apriori(basket_filter, min_support=.01, use_colnames=True).\
            sort_values('support', ascending=False).reset_index(drop=True)
freq_item['product_count']= freq_item['itemsets'].apply(lambda x: len(x))
freq_item

     support                       itemsets  product_count
0   0.295744                 (Matcha Latte)              1
1   0.295458                        (Latte)              1
2   0.295119                   (Cappuccino)              1
3   0.295029                (Hot Chocolate)              1
4   0.293253                   (Flat White)              1
5   0.293137                    (Americano)              1
6   0.292101                     (Espresso)              1
7   0.291279                        (Mocha)              1
8   0.061840          (Matcha Latte, Latte)              2
9   0.061786     (Matcha Latte, Cappuccino)              2
10  0.061402         (Latte, Hot Chocolate)              2
11  0.061393              (Latte, Espresso)              2
12  0.061376      (Matcha Latte, Americano)              2
13  0.061358      (Espresso, Hot Chocolate)              2
14  0.061340         (Mocha, Hot Chocolate)              2
15  0.061331  (Matcha Latte, Hot Chocolate)              2
16  0.061331                 (Mocha, Latte)              2
17  0.061268            (Latte, Flat White)              2
18  0.061242        (Americano, Flat White)              2
19  0.061224        (Americano, Cappuccino)              2
20  0.061224    (Cappuccino, Hot Chocolate)              2
21  0.061215     (Americano, Hot Chocolate)              2
22  0.060956            (Latte, Cappuccino)              2
23  0.060840       (Flat White, Cappuccino)              2
24  0.060831     (Matcha Latte, Flat White)              2
25  0.060563         (Flat White, Espresso)              2
26  0.060527       (Matcha Latte, Espresso)              2
27  0.060465            (Mocha, Cappuccino)              2
28  0.060242    (Flat White, Hot Chocolate)              2
29  0.060099          (Americano, Espresso)              2
30  0.060090            (Mocha, Flat White)              2
31  0.060054             (Latte, Americano)              2
32  0.059822          (Matcha Latte, Mocha)              2
33  0.059670             (Mocha, Americano)              2
34  0.059384         (Cappuccino, Espresso)              2
35  0.059367              (Mocha, Espresso)              2

In [21]:
# Summary variabels

from mlxtend.frequent_patterns import association_rules

product_assc= association_rules(freq_item, metric='confidence', min_threshold=.21).\
                sort_values(['support','confidence'],ascending=[False,False]).reset_index(drop=True)
product_assc

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Espresso),(Latte),0.292101,0.295458,0.061393,0.210179,0.711366,1.0,-0.024910,0.892027,-0.364340,0.116681,-0.121042,0.208985
1,(Espresso),(Hot Chocolate),0.292101,0.295029,0.061358,0.210057,0.711985,1.0,-0.024821,0.892432,-0.363642,0.116700,-0.120534,0.209014
2,(Mocha),(Hot Chocolate),0.291279,0.295029,0.061340,0.210588,0.713785,1.0,-0.024596,0.893032,-0.361342,0.116845,-0.119781,0.209249
3,(Mocha),(Latte),0.291279,0.295458,0.061331,0.210557,0.712646,1.0,-0.024730,0.892455,-0.362628,0.116730,-0.120505,0.209068

In [23]:
import csv

# product_assc.to_csv('basket_analysis.csv', index=False)

In [24]:
product_assc2= association_rules(freq_item, metric='confidence', min_threshold=.1).\
                sort_values(['support','confidence'],ascending=[False,False]).reset_index(drop=True)
product_assc2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Latte),(Matcha Latte),0.295458,0.295744,0.061840,0.209302,0.707713,1.0,-0.025540,0.890676,-0.369562,0.116820,-0.122742,0.209201
1,(Matcha Latte),(Latte),0.295744,0.295458,0.061840,0.209099,0.707713,1.0,-0.025540,0.890810,-0.369657,0.116820,-0.122574,0.209201
2,(Cappuccino),(Matcha Latte),0.295119,0.295744,0.061786,0.209361,0.707913,1.0,-0.025493,0.890743,-0.369225,0.116781,-0.122658,0.209139
3,(Matcha Latte),(Cappuccino),0.295744,0.295119,0.061786,0.208918,0.707913,1.0,-0.025493,0.891035,-0.369432,0.116781,-0.122291,0.209139
4,(Hot Chocolate),(Latte),0.295029,0.295458,0.061402,0.208123,0.704407,1.0,-0.025766,0.889711,-0.373139,0.116054,-0.123960,0.207972
5,(Latte),(Hot Chocolate),0.295458,0.295029,0.061402,0.207821,0.704407,1.0,-0.025766,0.889913,-0.373281,0.116054,-0.123705,0.207972
6,(Espresso),(Latte),0.292101,0.295458,0.061393,0.210179,0.711366,1.0,-0.024910,0.892027,-0.364340,0.116681,-0.121042,0.208985
7,(Latte),(Espresso),0.295458,0.292101,0.061393,0.207791,0.711366,1.0,-0.024910,0.893576,-0.365442,0.116681,-0.119099,0.208985
8,(Americano),(Matcha Latte),0.293137,0.295744,0.061376,0.209375,0.707962,1.0,-0.025318,0.890759,-0.368516,0.116351,-0.122638,0.208452
9,(Matcha Latte),(Americano),0.295744,0.293137,0.061376,0.207530,0.707962,1.0,-0.025318,0.891974,-0.369376,0.116351,-0.121108,0.208452
10,(Espresso),(Hot Chocolate),0.292101,0.295029,0.061358,0.210057,0.711985,1.0,-0.024821,0.892432,-0.363642,0.116700,-0.120534,0.209014
11,(Hot Chocolate),(Espresso),0.295029,0.292101,0.061358,0.207971,0.711985,1.0,-0.024821,0.893780,-0.364602,0.116700,-0.118844,0.209014
12,(Mocha),(Hot Chocolate),0.291279,0.295029,0.061340,0.210588,0.713785,1.0,-0.024596,0.893032,-0.361342,0.116845,-0.119781,0.209249
13,(Hot Chocolate),(Mocha),0.295029,0.291279,0.061340,0.207911,0.713785,1.0,-0.024596,0.894749,-0.362567,0.116845,-0.117632,0.209249
14,(Mocha),(Latte),0.291279,0.295458,0.061331,0.210557,0.712646,1.0,-0.024730,0.892455,-0.362628,0.116730,-0.120505,0.209068
15,(Hot Chocolate),(Matcha Latte),0.295029,0.295744,0.061331,0.207881,0.702908,1.0,-0.025922,0.889078,-0.374822,0.115841,-0.124760,0.207630
16,(Latte),(Mocha),0.295458,0.291279,0.061331,0.207579,0.712646,1.0,-0.024730,0.894374,-0.363996,0.116730,-0.118101,0.209068
17,(Matcha Latte),(Hot Chocolate),0.295744,0.295029,0.061331,0.207379,0.702908,1.0,-0.025922,0.889416,-0.375060,0.115841,-0.124333,0.207630
18,(Flat White),(Latte),0.293253,0.295458,0.061268,0.208927,0.707129,1.0,-0.025375,0.890616,-0.369491,0.116161,-0.122819,0.208147
19,(Latte),(Flat White),0.295458,0.293253,0.061268,0.207368,0.707129,1.0,-0.025375,0.891646,-0.370219,0.116161,-0.121522,0.208147
20,(Americano),(Flat White),0.293137,0.293253,0.061242,0.208918,0.712418,1.0,-0.024721,0.893394,-0.363492,0.116618,-0.119327,0.208877
21,(Flat White),(Americano),0.293253,0.293137,0.061242,0.208836,0.712418,1.0,-0.024721,0.893447,-0.363530,0.116618,-0.119260,0.208877
22,(Americano),(Cappuccino),0.293137,0.295119,0.061224,0.208857,0.707707,1.0,-0.025286,0.890966,-0.368803,0.116167,-0.122377,0.208156
23,(Hot Chocolate),(Cappuccino),0.295029,0.295119,0.061224,0.207517,0.703166,1.0,-0.025845,0.889460,-0.374532,0.115751,-0.124278,0.207486
24,(Cappuccino),(Americano),0.295119,0.293137,0.061224,0.207455,0.707707,1.0,-0.025286,0.891890,-0.369457,0.116167,-0.121214,0.208156
25,(Cappuccino),(Hot Chocolate),0.295119,0.295029,0.061224,0.207455,0.703166,1.0,-0.025845,0.889502,-0.374562,0.115751,-0.124225,0.207486
26,(Americano),(Hot Chocolate),0.293137,0.295029,0.061215,0.208827,0.707818,1.0,-0.025269,0.891045,-0.368678,0.116168,-0.122278,0.208157
27,(Hot Chocolate),(Americano),0.295029,0.293137,0.061215,0.207487,0.707818,1.0,-0.025269,0.891927,-0.369303,0.116168,-0.121168,0.208157
28,(Cappuccino),(Latte),0.295119,0.295458,0.060956,0.206547,0.699074,1.0,-0.026239,0.887944,-0.379148,0.115093,-0.126197,0.206428
29,(Latte),(Cappuccino),0.295458,0.295119,0.060956,0.206310,0.699074,1.0,-0.026239,0.888106,-0.379261,0.115093,-0.125991,0.206428
30,(Flat White),(Cappuccino),0.293253,0.295119,0.060840,0.207466,0.702990,1.0,-0.025705,0.889402,-0.374140,0.115329,-0.124352,0.206810
31,(Cappuccino),(Flat White),0.295119,0.293253,0.060840,0.206154,0.702990,1.0,-0.025705,0.890282,-0.374759,0.115329,-0.123239,0.206810
32,(Flat White),(Matcha Latte),0.293253,0.295744,0.060831,0.207435,0.701402,1.0,-0.025897,0.888579,-0.375921,0.115174,-0.125393,0.206562
33,(Matcha Latte),(Flat White),0.295744,0.293253,0.060831,0.205688,0.701402,1.0,-0.025897,0.889760,-0.376749,0.115174,-0.123898,0.206562
34,(Espresso),(Flat White),0.292101,0.293253,0.060563,0.207336,0.707022,1.0,-0.025096,0.891610,-0.369232,0.115404,-0.121566,0.206929
35,(Flat White),(Espresso),0.293253,0.292101,0.060563,0.206522,0.707022,1.0,-0.025096,0.892147,-0.369612,0.115404,-0.120892,0.206929
36,(Espresso),(Matcha Latte),0.292101,0.295744,0.060527,0.207214,0.700653,1.0,-0.025860,0.888331,-0.376376,0.114784,-0.125707,0.205938
37,(Matcha Latte),(Espresso),0.295744,0.292101,0.060527,0.204661,0.700653,1.0,-0.025860,0.890060,-0.377588,0.114784,-0.123520,0.205938
38,(Mocha),(Cappuccino),0.291279,0.295119,0.060465,0.207584,0.703390,1.0,-0.025497,0.889534,-0.373039,0.114967,-0.124184,0.206233
39,(Cappuccino),(Mocha),0.295119,0.291279,0.060465,0.204883,0.703390,1.0,-0.025497,0.891341,-0.374311,0.114967,-0.121905,0.206233
40,(Flat White),(Hot Chocolate),0.293253,0.295029,0.060242,0.205426,0.696289,1.0,-0.026277,0.887230,-0.381637,0.114085,-0.127103,0.204807
41,(Hot Chocolate),(Flat White),0.295029,0.293253,0.060242,0.204188,0.696289,1.0,-0.026277,0.888084,-0.382231,0.114085,-0.126020,0.204807
42,(Espresso),(Americano),0.292101,0.293137,0.060099,0.205747,0.701880,1.0,-0.025527,0.889972,-0.375003,0.114444,-0.123631,0.205383
43,(Americano),(Espresso),0.293137,0.292101,0.060099,0.205020,0.701880,1.0,-0.025527,0.890461,-0.375347,0.114444,-0.123014,0.205383
44,(Mocha),(Flat White),0.291279,0.293253,0.060090,0.206296,0.703476,1.0,-0.025329,0.890442,-0.372943,0.114579,-0.123038,0.205602
45,(Flat White),(Mocha),0.293253,0.291279,0.060090,0.204908,0.703476,1.0,-0.025329,0.891369,-0.373595,0.114579,-0.121869,0.205602
46,(Americano),(Latte),0.293137,0.295458,0.060054,0.204867,0.693389,1.0,-0.026555,0.886069,-0.384831,0.113623,-0.128581,0.204063
47,(Latte),(Americano),0.295458,0.293137,0.060054,0.203258,0.693389,1.0,-0.026555,0.887192,-0.385610,0.113623,-0.127152,0.204063
48,(Mocha),(Matcha Latte),0.291279,0.295744,0.059822,0.205377,0.694441,1.0,-0.026322,0.886277,-0.383039,0.113471,-0.128316,0.203826
49,(Matcha Latte),(Mocha),0.295744,0.291279,0.059822,0.202276,0.694441,1.0,-0.026322,0.888429,-0.384533,0.113471,-0.125583,0.203826
50,(Mocha),(Americano),0.291279,0.293137,0.059670,0.204855,0.698840,1.0,-0.025714,0.888975,-0.378132,0.113713,-0.124891,0.204207
51,(Americano),(Mocha),0.293137,0.291279,0.059670,0.203558,0.698840,1.0,-0.025714,0.889858,-0.378749,0.113713,-0.123775,0.204207
52,(Espresso),(Cappuccino),0.292101,0.295119,0.059384,0.203301,0.688880,1.0,-0.026820,0.884753,-0.389496,0.112506,-0.130259,0.202262
53,(Cappuccino),(Espresso),0.295119,0.292101,0.059384,0.201222,0.688880,1.0,-0.026820,0.886228,-0.390512,0.112506,-0.128378,0.202262
54,(Mocha),(Espresso),0.291279,0.292101,0.059367,0.203813,0.697750,1.0,-0.025716,0.889112,-0.379349,0.113292,-0.124718,0.203527
55,(Espresso),(Mocha),0.292101,0.291279,0.059367,0.203240,0.697750,1.0,-0.025716,0.889503,-0.379622,0.113292,-0.124223,0.203527

In [25]:
# product_assc2.to_csv('basket_analysis_all.csv', index=False)

## **Result**

Espresso has ordered 5.9% percentage from total transaction. After buy a the Espresso, cust will ordered latte too with 21% probability. Espresso and latte have negative correlation(n<1), that means the probability of these product bought together lower than these product bought for itself.

FOr this case, there are no one combination that realy have big correlation. That can be indicated by the highest confidence value is 0.21 which means there are no combination have probability higher thatn 21% to bought other menu after ordered one of them. The most cust seems to order just one menu for each transaction based on lift value<1.

## How about 2024?

In [26]:
tr4= r"C:\ProgramData\MySQL\MySQL Server 8.0\Data\gcoffee\transactions_202404.csv"
tr5= r"C:\ProgramData\MySQL\MySQL Server 8.0\Data\gcoffee\transactions_202405.csv"
tr6= r"C:\ProgramData\MySQL\MySQL Server 8.0\Data\gcoffee\transactions_202406.csv"

item7= r"C:\Users\fahru\Documents\SQL\database\Gcoffee\items_2404.csv"
item8= r"C:\Users\fahru\Documents\SQL\database\Gcoffee\items_2405.csv"
item9= r"C:\Users\fahru\Documents\SQL\database\Gcoffee\items_2406.csv"

trx2404= pd.read_csv(tr4)
trx2405= pd.read_csv(tr5)
trx2406= pd.read_csv(tr6)

item2404= pd.read_csv(item7)
item2405= pd.read_csv(item8)
item2406= pd.read_csv(item9)

trx_24= pd.concat([trx2404,trx2405,trx2406], axis=0)
item_24= pd.concat([item2404,item2405,item2406], axis=0)
trx_24.head()

,transaction_id,store_id,payment_method_id,voucher_id,user_id,original_amount,discount_applied,final_amount,created_at
0,80db6673-867e-4a3c-a390-71e0fee634e0,6,3,NaN,NaN,24.0,0.0,24.0,2024-04-02 09:47:14
1,cf5f9001-bcab-4cf9-beec-d7be0c47c8c6,4,4,NaN,NaN,66.0,0.0,66.0,2024-04-01 07:00:05
2,a013d385-8c9e-44ee-a416-ff05463bc425,8,1,NaN,14021.0,16.0,0.0,16.0,2024-04-01 07:00:08
3,90942a27-eeb0-49b1-9caf-f844a5bd67cc,2,2,NaN,NaN,7.0,0.0,7.0,2024-04-01 07:00:11
4,3a45f168-13a1-4899-a217-69d2f1288829,7,1,NaN,NaN,54.0,0.0,54.0,2024-04-01 07:00:20

In [27]:
trx_24= trx_24[trx_24['store_id']==2]
trx_24.head()

,transaction_id,store_id,payment_method_id,voucher_id,user_id,original_amount,discount_applied,final_amount,created_at
3,90942a27-eeb0-49b1-9caf-f844a5bd67cc,2,2,NaN,NaN,7.0,0.0,7.0,2024-04-01 07:00:11
5,32145e40-37c5-4784-b06a-a979b52e8c17,2,5,NaN,NaN,45.0,0.0,45.0,2024-04-01 07:00:30
8,3e48866a-4907-4c74-96d0-885d2e7a481d,2,2,NaN,NaN,53.0,0.0,53.0,2024-04-01 07:01:13
11,7dd0270e-32a9-4e4d-89b2-8c344984739e,2,5,NaN,NaN,76.0,0.0,76.0,2024-04-01 07:02:02
29,9ba99cc8-84d9-4d95-a054-07dda97bb15a,2,2,NaN,NaN,62.0,0.0,62.0,2024-04-01 07:04:31

In [28]:
trx_24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182653 entries, 3 to 600440
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   transaction_id     182653 non-null  object
 1   store_id           182653 non-null  int64
 2   payment_method_id  182653 non-null  int64
 3   voucher_id         5750 non-null    float64
 4   user_id            60385 non-null   float64
 5   original_amount    182653 non-null  float64
 6   discount_applied   182653 non-null  float64
 7   final_amount       182653 non-null  float64
 8   created_at         182653 non-null  object
dtypes: float64(5), int64(2), object(2)
memory usage: 13.9+ MB

In [29]:
item_24.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,cf5f9001-bcab-4cf9-beec-d7be0c47c8c6,7,1,9.0,9.0,2024-04-01 07:00:05
1,9c7b0c2c-f72a-45d7-b408-019eebf587d3,7,2,9.0,18.0,2024-04-01 16:01:36
2,9c7b0c2c-f72a-45d7-b408-019eebf587d3,3,1,8.0,8.0,2024-04-01 16:01:36
3,4aeecc37-e0d3-4b6d-90b8-38a86f4ccbaa,7,2,9.0,18.0,2024-04-01 16:01:43
4,4aeecc37-e0d3-4b6d-90b8-38a86f4ccbaa,7,2,9.0,18.0,2024-04-01 16:01:43

In [30]:
trx_24_detail= trx_24[['transaction_id']].merge(item_24[['transaction_id','item_id','quantity','subtotal']],
                                              on='transaction_id', how='left')
trx_24_detail= trx_24_detail.merge(menus[['item_id','item_name','category','price']],
                                   on='item_id', how='left')
trx_24_detail.head()

,transaction_id,item_id,quantity,subtotal,item_name,category,price
0,90942a27-eeb0-49b1-9caf-f844a5bd67cc,2,1,7.0,Americano,coffee,7.0
1,32145e40-37c5-4784-b06a-a979b52e8c17,1,3,18.0,Espresso,coffee,6.0
2,32145e40-37c5-4784-b06a-a979b52e8c17,5,3,27.0,Flat White,coffee,9.0
3,3e48866a-4907-4c74-96d0-885d2e7a481d,8,2,20.0,Matcha Latte,non-coffee,10.0
4,3e48866a-4907-4c74-96d0-885d2e7a481d,7,3,27.0,Hot Chocolate,non-coffee,9.0

In [31]:
trx_24_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365514 entries, 0 to 365513
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   transaction_id  365514 non-null  object
 1   item_id         365514 non-null  int64
 2   quantity        365514 non-null  int64
 3   subtotal        365514 non-null  float64
 4   item_name       365514 non-null  object
 5   category        365514 non-null  object
 6   price           365514 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 19.5+ MB

Anamysis

In [32]:
basket24= pd.pivot_table(data=trx_24_detail, index='transaction_id', columns='item_name',
                   values='item_id', aggfunc=pd.Series.nunique, fill_value=0)
basket24

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
0000072b-5c05-4bce-9017-e98b160b3914,0,0,0,0,1,0,0,0
00000a45-5c8c-4c40-84fe-580561e23f6b,1,1,0,0,1,0,0,0
00009b0f-48e2-40e7-8d88-88360fcff433,0,0,0,0,0,0,1,0
0000a9f7-2b74-48cd-916d-0b03f7f3c20f,0,0,0,0,0,0,0,1
0000dc72-6455-44d9-9a6d-0f6ed138e8a7,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...
fffe90e7-eac7-43cd-a045-483aba506836,0,0,0,0,0,1,1,0
fffeb7fd-6761-43e0-8189-16f801c90a15,0,1,0,0,0,0,0,0
fffecfad-8037-4ed1-8b79-1dbe766511ea,0,1,0,0,0,0,0,0
ffffa5d8-097e-4b77-a74c-2b51d7180176,0,1,1,0,0,1,0,0
ffffe858-3ab9-4d40-9a79-289105b6488f,0,0,0,1,0,0,1,0

In [33]:
basket24= basket24.map(encode)
basket24

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
0000072b-5c05-4bce-9017-e98b160b3914,False,False,False,False,True,False,False,False
00000a45-5c8c-4c40-84fe-580561e23f6b,True,True,False,False,True,False,False,False
00009b0f-48e2-40e7-8d88-88360fcff433,False,False,False,False,False,False,True,False
0000a9f7-2b74-48cd-916d-0b03f7f3c20f,False,False,False,False,False,False,False,True
0000dc72-6455-44d9-9a6d-0f6ed138e8a7,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...
fffe90e7-eac7-43cd-a045-483aba506836,False,False,False,False,False,True,True,False
fffeb7fd-6761-43e0-8189-16f801c90a15,False,True,False,False,False,False,False,False
fffecfad-8037-4ed1-8b79-1dbe766511ea,False,True,False,False,False,False,False,False
ffffa5d8-097e-4b77-a74c-2b51d7180176,False,True,True,False,False,True,False,False
ffffe858-3ab9-4d40-9a79-289105b6488f,False,False,False,True,False,False,True,False

In [34]:
basket24_filter= basket24[(basket24>0).sum(axis=1)>1]
basket24_filter

item_name,Americano,Cappuccino,Espresso,Flat White,Hot Chocolate,Latte,Matcha Latte,Mocha
transaction_id,,,,,,,,
00000a45-5c8c-4c40-84fe-580561e23f6b,True,True,False,False,True,False,False,False
0000dc72-6455-44d9-9a6d-0f6ed138e8a7,False,False,False,False,False,True,True,False
0001c7c9-5bbc-474a-89b1-5c596979b6e2,True,False,False,False,False,False,False,True
0003063f-7b79-4c6b-a26d-6779ab691e68,True,True,False,False,False,False,False,True
0003822e-ac8d-4d7e-ba6c-17088ce4a0e0,False,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...
fffe0847-5c5e-40b7-a8b8-b479a4cc83dd,True,False,False,False,True,False,False,False
fffe56d9-c9cd-45a4-977a-5f1efcfae151,True,True,False,True,False,False,False,False
fffe90e7-eac7-43cd-a045-483aba506836,False,False,False,False,False,True,True,False
ffffa5d8-097e-4b77-a74c-2b51d7180176,False,True,True,False,False,True,False,False
ffffe858-3ab9-4d40-9a79-289105b6488f,False,False,False,True,False,False,True,False

In [35]:
from mlxtend.frequent_patterns import apriori

freq_item24= apriori(basket24_filter, min_support=.01, use_colnames=True).\
                    sort_values('support', ascending=False).reset_index(drop=True)
freq_item24['count']= freq_item24['itemsets'].apply(lambda x: len(x))
freq_item24

     support                       itemsets  count
0   0.296795                   (Cappuccino)      1
1   0.294528                   (Flat White)      1
2   0.294148                (Hot Chocolate)      1
3   0.293654                        (Mocha)      1
4   0.293381                    (Americano)      1
5   0.293328                 (Matcha Latte)      1
6   0.293284                     (Espresso)      1
7   0.293134                        (Latte)      1
8   0.063317       (Flat White, Cappuccino)      2
9   0.061923    (Cappuccino, Hot Chocolate)      2
10  0.061676             (Mocha, Americano)      2
11  0.061508                 (Mocha, Latte)      2
12  0.061473         (Flat White, Espresso)      2
13  0.061349      (Matcha Latte, Americano)      2
14  0.061261        (Americano, Cappuccino)      2
15  0.061243     (Matcha Latte, Flat White)      2
16  0.061146     (Matcha Latte, Cappuccino)      2
17  0.061076          (Americano, Espresso)      2
18  0.060935              (Latte, Espresso)      2
19  0.060935         (Mocha, Hot Chocolate)      2
20  0.060811            (Latte, Cappuccino)      2
21  0.060802  (Matcha Latte, Hot Chocolate)      2
22  0.060696            (Mocha, Cappuccino)      2
23  0.060652      (Espresso, Hot Chocolate)      2
24  0.060635          (Matcha Latte, Latte)      2
25  0.060635    (Flat White, Hot Chocolate)      2
26  0.060626     (Americano, Hot Chocolate)      2
27  0.060599         (Latte, Hot Chocolate)      2
28  0.060591         (Cappuccino, Espresso)      2
29  0.060582            (Latte, Flat White)      2
30  0.060326              (Mocha, Espresso)      2
31  0.060238          (Matcha Latte, Mocha)      2
32  0.060229       (Matcha Latte, Espresso)      2
33  0.060176            (Mocha, Flat White)      2
34  0.059717        (Americano, Flat White)      2
35  0.059347             (Latte, Americano)      2

In [36]:
from mlxtend.frequent_patterns import association_rules

product_assc24= association_rules(freq_item24, metric='confidence', min_threshold=.21).\
                                    sort_values(['support','confidence']).reset_index(drop=True)
product_assc24

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Mocha),(Americano),0.293654,0.293381,0.061676,0.210028,0.715890,1.0,-0.024477,0.894487,-0.359735,0.117397,-0.117960,0.210126
1,(Americano),(Mocha),0.293381,0.293654,0.061676,0.210224,0.715890,1.0,-0.024477,0.894362,-0.359646,0.117397,-0.118115,0.210126
2,(Hot Chocolate),(Cappuccino),0.294148,0.296795,0.061923,0.210515,0.709295,1.0,-0.025379,0.890714,-0.367347,0.117052,-0.122695,0.209577
3,(Cappuccino),(Flat White),0.296795,0.294528,0.063317,0.213335,0.724328,1.0,-0.024098,0.896788,-0.351164,0.119916,-0.115090,0.214156
4,(Flat White),(Cappuccino),0.294528,0.296795,0.063317,0.214977,0.724328,1.0,-0.024098,0.895776,-0.350431,0.119916,-0.116350,0.214156

The result was no big difference than 2025.