In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Import Dataset**

In [4]:
item= r"C:\Users\fahru\Documents\SQL\Export Gcoffee\items25.csv"
menu= r"C:\Users\fahru\Documents\SQL\database\Gcoffee\menu_items.csv"


items= pd.read_csv(item)
items.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at
0,00001472-e5a0-453f-9575-ecdfa6fe0e6c,3,1,8.0,8.0,2025-05-17 10:17:23
1,00001472-e5a0-453f-9575-ecdfa6fe0e6c,3,3,8.0,24.0,2025-05-17 10:17:23
2,00002670-7a56-485e-9240-0f9ec868b5c8,1,2,6.0,12.0,2025-04-01 15:21:07
3,00002670-7a56-485e-9240-0f9ec868b5c8,2,1,7.0,7.0,2025-04-01 15:21:07
4,00002670-7a56-485e-9240-0f9ec868b5c8,6,2,9.5,19.0,2025-04-01 15:21:07

In [5]:
menus= pd.read_csv(menu)
menus.head()

,item_id,item_name,category,price,is_seasonal,available_from,available_to
0,1,Espresso,coffee,6.0,False,NaN,NaN
1,2,Americano,coffee,7.0,False,NaN,NaN
2,3,Latte,coffee,8.0,False,NaN,NaN
3,4,Cappuccino,coffee,8.0,False,NaN,NaN
4,5,Flat White,coffee,9.0,False,NaN,NaN

In [7]:
trx_detail= items.merge(menus, on='item_id', how='left')
trx_detail.head()

,transaction_id,item_id,quantity,unit_price,subtotal,created_at,item_name,category,price,is_seasonal,available_from,available_to
0,00001472-e5a0-453f-9575-ecdfa6fe0e6c,3,1,8.0,8.0,2025-05-17 10:17:23,Latte,coffee,8.0,False,NaN,NaN
1,00001472-e5a0-453f-9575-ecdfa6fe0e6c,3,3,8.0,24.0,2025-05-17 10:17:23,Latte,coffee,8.0,False,NaN,NaN
2,00002670-7a56-485e-9240-0f9ec868b5c8,1,2,6.0,12.0,2025-04-01 15:21:07,Espresso,coffee,6.0,False,NaN,NaN
3,00002670-7a56-485e-9240-0f9ec868b5c8,2,1,7.0,7.0,2025-04-01 15:21:07,Americano,coffee,7.0,False,NaN,NaN
4,00002670-7a56-485e-9240-0f9ec868b5c8,6,2,9.5,19.0,2025-04-01 15:21:07,Mocha,coffee,9.5,False,NaN,NaN